.drive {
    max-width: 1040px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 1rem;
}

.drive img {
    max-width: 512px;
    border-radius: 50%;
    
}

.drive h2 {
    padding-top: 20%;
}

.drive span {
    color: #593cfb;
}

.driv p {
    font-size: 1rem;
    color: #333;
    padding: 1.5rem 0;
}

.drive button {
    background-color: #593cfb;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    padding: 12px 18px;
    border: none;
    margin-top: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.drive button:hover {
    background-color: #4733b7;
    transition: background-color 1s;
}

@media screen and (max-width: 920px) {
    .drive {
        grid-template-columns: 1fr;
    }
    .drive img {
        max-width: 90%;
    }

    .drive .left {
        display: flex;
        justify-content: center;
    }

    .drive h2 {
        padding-top: 10%;
    }
}

